.form-inline {
    display: inline-block;
}

.margin-bottom-fix {
    margin-bottom: 10px;
}

.margin-left-10px {
    margin-left: 10px;
}

.td-padding-fix {
    padding-left: 40px !important;
}

.text-center {
    text-align: center;
}