@import '_variables.scss';

.navbar {
    background: $color2-darker;

    .navbar__top-wrapper {
        display: flex;
        justify-content: space-between;

        .navbar__logo {
            color: $color2-light;
            text-decoration: none;
            padding: 15px;
            display: inline-block;
        }

        .navbar__hamburger-menu {
            margin-right: 15px;
            font-size: 1.25em;
            cursor: pointer;
        }
    }


    .navbar__drawer {
        max-height: 0;
        background: $color2-dark;

        transition: max-height 0.5s ease-in-out;

        .navbar__element {
            display: block;
        }
    
        .navbar__link {
            color: $color4;
            text-decoration: none;
            display: inline-block;
            padding: 15px;
            background: none;
            cursor: pointer;
        }
    }

    .navbar__drawer--active {
        max-height: 500px;
    }

}

@media only screen and (min-width: 961px) {
    .navbar {
        display: flex;

        .navbar__hamburger-menu {
            display: none;
        }

        .navbar__drawer {
            max-height: auto;
            display: inline-block;
            background: transparent;

            display: flex;
        }
    }
}
