@import '_variables.scss';

table {
    margin-top: 50px;

    th {
        text-align: left;
        font-weight: bold;
    }

    th.desktop-only, td.desktop-only {
        display: none;

        @media only screen and (min-width: $screen-limit-1) {
            display: table-cell;
        }
    }
}

.table-full-width {
    width: 100%;

    td {
        margin: 0;
        padding: 10px 0;
    }

    tr {
        vertical-align: middle;
    }
    
    td:last-child {
        text-align: right;
    }
}

.table-hor-lines-between {

    tr {
        border-bottom: 1px solid $color2-dark;
    }

    tr:last-child {
        border-bottom: none;
    }

}